#divv {
    display:flex;
    justify-content: space-evenly;
}
#div1 {
    height:100px;
    width:100px;
    background-color: blueviolet;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2.5s;
    transition-timing-function: steps(3);
    transition-delay: 0.2s;
}
 #div1:hover {
    background-color: yellow;
    color:purple;
    transition: all 2s steps(4) 0.5s;
    
 }
 #div1:active {
    background-color: purple;
    color:blanchedalmond;
 }

 #div2 {
    height:100px;
    width:100px;
    background-color: blue;
    border:2px solid black;
    transition-property: all;
    transition-duration: 10s;
    transition-timing-function: steps(3);
    transition-delay: 0.2s;
    color:whitesmoke;
 }
 
#div2:hover {
    background-color: aqua;
    color:black;
    
}

#div3 {
    background-color: brown;
    height:100px;
    width:100px;
    color:white;
    transform: rotate(180deg) scale(2,1);/* First 2 is for X-axis that is width and second 1 is for Y-axis that is height*/
    position:absolute;
    top:170px;
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */

}

#div3:hover {
background-color: blue;
transition: all 2s steps(4) 0.5s;
transform: rotate(180deg);
transform: translateX(150px) /*Translate moves our div and  X means in X axis and Y means in Y axis */
}

#div4 {
    background-color: yellowgreen;
    height:100px;
    width:100px;
    color:wheat;
    display:flex;
    align-items: center;
    justify-content:center;
    animation-name: colorchange;
    animation-duration:3s;
    animation-timing-function:steps(3);
    animation-delay: 0.25s;
    animation-iteration-count: infinite;
   
}

@keyframes colorchange {
    from{background-color: yellowgreen;}
    to{background-color: powderblue;}
}