#divv {
    display:flex;
    justify-content: space-evenly;
}
#div1 {
    height:100px;
    width:100px;
    background-color: blueviolet;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2.5s;
    transition-timing-function: steps(3);
    transition-delay: 0.2s;
}
 #div1:hover {
    background-color: yellow;
    color:purple;
 }
 #div1:active {
    background-color: purple;
    color:blanchedalmond;
 }

 #div2 {
    height:100px;
    width:100px;
    background-color: blue;
    border:2px solid black;
    transition-property: all;
    transition-duration: 2.5s;
    transition-timing-function: steps(3);
    transition-delay: 0.2s;
    color:whitesmoke;
 }
 
#div2:hover {
    background-color: aqua;
    color:black;
    transition: all 2s steps(4) 0.4s;
}

#div3 {
    background-color: brown;
    height:100px;
    width:100px;
    color:white;
    transform: rotate(180deg) scale(2,1);/* First 2 is for X-axis that is width and second 1 is for Y-axis that is height*/
    position:absolute;
    top:170px;
    display: flex;
    align-items: center;      /* vertical center */
    justify-content: center;  /* horizontal center */

}