/*#box1{
    height:100px;
    width:100px;
    background-color:blueviolet;
    font-size:10px
}
#box2 {
    height:50px;
    width:33%;
    background-color:blue;
    font-size:2em;
    width:3em;
    width:5rem /* By default body is 16 px so 5 rem is 80 px
}
*/

div {
    height: 150px;
    width: 150px;
    background-color: blueviolet;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    margin:2px; 
}
#box1 {
    position:default; /* Top, left, bottom, right wont work */
    top: 10px
}
#box2 {
    position:relative; /* Top, left, bottom, right will work */
    top:10px;
    left:2px
}

#box3 {
    position:absolute;
    left:10px;
    bottom :20px
}

#box4 {
    position:fixed;
    right:10px;
    bottom:10px;
}