h1{
    height:50px;
    width:200px;
    color:rgb(22, 55, 55);
     border-width:5px;
    border-style:dotted;
    border-color:blueviolet;
    text-align:center;
    border-radius:15px
}
button {
    color:rgb(48, 37, 20);
    background-color:aquamarine;
     border-radius:20px;
     padding: 1px 2px 3px 4px; 
}
p {
    color:rgb(11, 86, 86);
    background-color: aquamarine;
    height:100px;
    width:200px;
    border-width:5px;
    border-style:solid;
    border-color:blueviolet;
     border-radius:8px

}
div {
    height:100px;
    width:100px;
    border:2px solid rgb(142, 192, 56); /* We can do like this too instead of defining all border properties individually*/
    background-color:pink;
    border-radius:10px;
    padding-left:20px;
    margin: 10px 10px 10px 10px;
    
}